.container {
    margin: 10px;
    border-radius: 30px;
    border: 2px solid #e5e7eb;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.space {
    margin-right: 20px;
}

.titulo {
    margin: 0;
    padding-top: 9px;
}