<p-toast></p-toast>
<div class="container">
    <div class="card">
        <p-table #dt1 [value]="usuarios" dataKey="codigo" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
            [rows]="10" [showCurrentPageReport]="true" [globalFilterFields]="['nombres', 'cargo', 'usuario']"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrando del {first} al {last} de un total de {totalRecords} registros.">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <div>
                        <button routerLink="nuevo" pButton label="Nuevo" class="p-button-outlined"
                            icon="pi pi-plus"></button>
                    </div>
                    <h2 class="titulo">Lista de usuarios</h2>
                    <div>
                        <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="clear(dt1, textInput)"></button>
                        <span class="space"></span>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText #textInput type="text"
                                (input)=" dt1.filterGlobal(textInput.value, 'contains' )" placeholder="Filtrar" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="codigo">Codigo <p-sortIcon field="codigo"></p-sortIcon></th>
                    <th pSortableColumn="nombres">Nombre <p-sortIcon field="nombres"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cargo">Cargo <p-sortIcon field="cargo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="usuario">Usuario <p-sortIcon field="usuario"></p-sortIcon>
                    </th>
                    <th class="centrar" pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex + 1}}</td>
                    <td>{{usuario.nombres}}</td>
                    <td>{{usuario.cargo}}</td>
                    <td>{{usuario.usuario}}</td>
                    <td class="centrar">
                        <p-tag [value]="usuario.estado? 'Activo': 'Inactivo'"
                            [severity]="getSeverity(usuario.estado)"></p-tag>
                    </td>
                    <td class="align-buttons centrar">
                        <button (click)="updateEstado(usuario, true)" pButton pRipple icon="pi pi-check"
                            class="p-button-rounded p-button-success"></button>
                        <button (click)="updateEstado(usuario, false)" pButton pRipple icon="pi pi-times"
                            class="p-button-rounded p-button-danger"></button>
                        <button (click)="resetContrasenia(usuario)" pButton pRipple icon="pi pi-refresh"
                            class="p-button-rounded p-button-info"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>