<p-toast></p-toast>
<div class="container">
    <div class="card">
        <p-table #dt [value]="contrataciones" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [loading]="loading" [paginator]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de un total de {totalRecords} registros."
            [globalFilterFields]="['numeroExpediente','descripcion','sede' , 'tipoServicio', 'nombre', 'estado']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button routerLink="nuevo" pButton label="Nuevo" class="p-button-outlined"
                        icon="pi pi-plus"></button>
                    <h2 class="titulo"> Lista de mis convocatorias</h2>
                    <div>
                        <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="clear(dt, textInput)"></button>
                        <span class="space"></span>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText #textInput type="text"
                                (input)=" dt.filterGlobal(textInput.value, 'contains' )" placeholder="Filtrar" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex align-items-center">
                            N°
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center center">
                            N° Expediente
                            <p-columnFilter matchMode="contains" type="text" field="numeroExpediente" display="menu"
                                [showMatchModes]="false" [showOperator]="false" [showApplyButton]="false"
                                [showClearButton]="false" [showAddButton]="false"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Descripción
                            <p-columnFilter matchMode="contains" type="text" field="descripcion" display="menu"
                                [showMatchModes]="false" [showOperator]="false" [showApplyButton]="false"
                                [showClearButton]="false" [showAddButton]="false"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Tipo de servicio
                            <p-columnFilter field="tipoServicio" matchMode="equals" display="menu"
                                [showApplyButton]="false" [showMatchModes]="false" [showOperator]="false"
                                [showAddButton]="false" [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="tipoServicios"
                                        (onChange)="filter($event.value)" placeholder="Ninguno">
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Sede
                            <p-columnFilter field="sede" matchMode="equals" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false" [showApplyButton]="false"
                                [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="sedes" (onChange)="filter($event.value)"
                                        placeholder="Ninguno">
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center center">
                            Fecha de publicación
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center center">
                            Fecha de vencimiento
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Estado
                            <p-columnFilter field="estado" matchMode="equals" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false" [showApplyButton]="false"
                                [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="estados" (onChange)="filter($event.value)"
                                        placeholder="Ninguno">
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            TDR/ET
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Anexos
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center center">
                            Editar / Resultado
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Convocados
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contratacion let-rowIndex="rowIndex">
                <tr>
                    <td class="center">{{rowIndex + 1}}</td>
                    <td>
                        {{ contratacion.numeroExpediente }}
                    </td>
                    <td>
                        {{ contratacion.descripcion }}
                    </td>
                    <td>
                        {{ contratacion.tipoServicio }}
                    </td>
                    <td>
                        {{ contratacion.sede }}
                    </td>
                    <td class="center">
                        {{ contratacion.fechaPublicacion | date: 'dd/MM/yyyy' }}
                    </td>
                    <td class="center">
                        {{ contratacion.fechaVencimiento | date: 'dd/MM/yyyy' }}
                    </td>
                    <td class="center">
                        <p-tag [value]="contratacion.estado" [severity]="getSeverity(contratacion.estado)"></p-tag>
                    </td>
                    <td class="center">
                        <button (click)="verPdf(contratacion.urlFormato)" pButton pRipple icon="pi pi-file-pdf"
                            class="p-button-rounded p-button-info"></button>
                    </td>
                    <td class="center">
                        <button (click)="verPdf(contratacion.urlConvocatoria)" pButton pRipple icon="pi pi-file-word"
                            class="p-button-rounded p-button-info"></button>
                    </td>
                    <td class="center">
                        @if (noVencido(contratacion)) {
                        <button (click)="openDialog(contratacion)" pButton pRipple icon="pi pi-file-edit"
                            class="p-button-rounded p-button-warning"></button>
                        }@else {
                        @if (contratacion.urlResultado != '' && contratacion.urlResultado != null) {
                        <button (click)="verPdf(contratacion.urlResultado)" pButton pRipple icon="pi pi-eye"
                            class="p-button-rounded p-button-info"></button>
                        } @else {
                        <button (click)="subirResultados(contratacion)" pButton pRipple icon="pi pi-upload"
                            class="p-button-rounded p-button-info"></button>
                        }
                        }
                    </td>
                    <td class="center">
                        <button pButton routerLink="/dashboard/convocados/{{contratacion.codigo}}" pRipple
                            icon="pi pi-users" class="p-button-rounded p-button-info"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No hay contrataciones.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Previsualización" [modal]="true" [(visible)]="isPDF" [style]="{width: '90vw'}" [maximizable]="true">
    @if (this.isPDF) {
    <ngx-extended-pdf-viewer [textLayer]="true" [height]="'100vh'" [src]="pdfUrl">
    </ngx-extended-pdf-viewer>
    }
</p-dialog>

<p-dialog header="Actualizar Datos" [modal]="true" [(visible)]="visible" [style]="{width: '350px'}" >
    <div class="centrar">
        <div>
            <div class="input-section">
                <label for="descripcion"> Descripción: </label>
                <textarea [(ngModel)]="descripcion" name="descripcion" rows="3" type="text" class="disign-input">
                                        </textarea>
            </div>
            <div class="input-section">
                <label for="fechaPubli"> Fecha de Publicación: </label>
                <!-- <input [min]="today" [(ngModel)]="fechaPubli" name="fechaPubli" type="date" class="disign-input"> -->
                <p-calendar [style]="{'width':'100%'}" [(ngModel)]="fechaPubli" name="fechaPubli" [showIcon]="true"
                    inputId="fechaPubli" [minDate]="today"></p-calendar>
            </div>
            <div class="input-section-end">
                <label for="fechaVenc"> Fecha de Vencimiento: </label>
                <!-- <input [min]="fechaPubli" [(ngModel)]="fechaVenc" name="fechaVenc" type="date" class="disign-input"> -->
                 <p-calendar [style]="{'width':'100%'}" [(ngModel)]="fechaVenc" name="fechaVenc" [showIcon]="true" inputId="fechaVenc"
                    [minDate]="fechaPubli"></p-calendar> 
            </div>
        </div>
        <button pButton label="Actualizar" class="p-button-outlined" icon="pi pi-pencil"
            (click)="updateContratacion()"></button>
    </div>
</p-dialog>

<p-dialog header="Subir Resultados" [modal]="true" [(visible)]="siResultado"
    [style]="{width: '45w', minWidth: '400px', maxWidth: '450px'}">
    <div class="centrar-file">
        <p-fileUpload [auto]="true" chooseLabel="Cargar resultado" name="demo[]" customUpload="true"
            (uploadHandler)="onSubmit($event)" accept=".pdf" maxFileSize="10000000"
            [style]="{'width':'100%', 'margin-bottom': '20px'}">
            <ng-template let-file pTemplate="file">
                <div> <strong>Archivo cargado:</strong> {{mensaje}}</div>
            </ng-template>
        </p-fileUpload>

        <p-button (onClick)="updateResultado()" [disabled]="!file" label="Guardar resultados"></p-button>
    </div>
</p-dialog>