<p-toast></p-toast>
<div class="width-card">
    <p-card header="Aplicativo de Registro y Visualizacion de Contrataciones de Bienes y Servicios">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-column gap-2">
                <label for="usuario">Usuario</label>
                <input pInputText id="usuario" formControlName="usuario" required maxlength="20" minlength="6" />
                @if (form.get('usuario')?.hasError('required') && form.get('usuario')?.touched) {
                <small class="error-message">Ingrese su usuario.</small>
                }
                @if ((form.get('usuario')?.hasError('maxlength') || form.get('usuario')?.hasError('minlength')) &&
                form.get('usuario')?.touched) {
                <small class="error-message">El usuario debe tener entre 6 a 20 caracteres.</small>
                }
            </div>
            <div class="flex flex-column gap-2">
                <label for="contrasenia">Contraseña</label>
                <input pInputText id="contrasenia" formControlName="contrasenia" type="password" required maxlength="20" minlength="6" />
                @if (form.get('contrasenia')?.hasError('required')&& form.get('contrasenia')?.touched) {
                <small class="error-message">Ingrese su contraseña.</small>
                }
                @if ((form.get('contrasenia')?.hasError('maxlength') || form.get('contrasenia')?.hasError('minlength')) &&
                form.get('contrasenia')?.touched) {
                <small class="error-message">El contraseña debe tener entre 6 a 20 caracteres.</small>
                }
            </div>
            <p-button [disabled]="form.invalid" type="submit" label="Ingresar"></p-button>
        </form>
    </p-card>
</div>