<p-toast></p-toast>
<div class="container">
    <div class="card justify-content-center">
        <p-card header="Registrar nueva contratación">
            <form [formGroup]="form">
                <div class="flex flex-column">
                    <label>N° Expediente</label>
                    <input formControlName="numeroExpediente" pInputText />
                    <!-- @if (form.get('numeroExpediente')?.hasError('required') && form.get('numeroExpediente')?.touched) {
                    <small class="error-message">Ingrese el número de expediente.</small>
                    } -->
                </div>
                <div class="flex flex-column">
                    <label for="descripcion">Descripción: </label>
                    <textarea formControlName="descripcion" id="descripcion" required rows="2" pInputTextarea
                        [autoResize]="true"></textarea>
                    @if (form.get('descripcion')?.hasError('required')&& form.get('descripcion')?.touched) {
                    <small class="error-message">Ingrese la descripción.</small>
                    }
                </div>
                <div class="flex flex-column">
                    <label for="tipoServicio">Tipo de servicio: </label>
                    <p-dropdown formControlName="tipoServicio" [options]="tipoServicios" [style]="{'width':'100%'}"
                        placeholder="Seleccione un tipo de servicio"></p-dropdown>
                    @if (form.get('tipoServicio')?.hasError('required')&& form.get('tipoServicio')?.touched) {
                    <small class="error-message">Ingrese el tipo de servicio.</small>
                    }
                </div>
                <div class="flex flex-column">
                    <label for="sede">Sede: </label>
                    <p-dropdown formControlName="sede" [options]="tipoSede" [style]="{'width':'100%'}"
                        placeholder="Seleccione la sede"></p-dropdown>
                    @if (form.get('sede')?.hasError('required')&& form.get('sede')?.touched) {
                    <small class="error-message">Ingrese la sede.</small>
                    }
                </div>
<!--                 <div class="formato">
                    <div class="flex flex-column">
                        <label for="formato">Formato Requerido: </label>
                        <p-dropdown formControlName="formato" [options]="formatos"
                            placeholder="Seleccione una plantilla requerida" optionLabel="descripcion"
                            [style]="{'width':'100%', 'max-width': '250px'}">
                        </p-dropdown>
                        @if (form.get('formato')?.hasError('required')&& form.get('formato')?.touched) {
                        <small class="error-message">Ingrese el formato.</small>
                        }
                    </div>
                    <p-button [style]="{'margin-left':'15px'}" (click)="descargarFormato()"
                        label="Descargar"></p-button>
                </div> -->


                <div class="flex flex-column">
                    <label for="fechaPublicacion"> Fecha de Publicación </label>
                    <p-calendar [style]="{'width':'100%'}" formControlName="fechaPublicacion" [showIcon]="true"
                        inputId="fechaPublicacion" [minDate]="today"></p-calendar>
                    @if (form.get('fechaPublicacion')?.hasError('required')&& form.get('fechaPublicacion')?.touched) {
                    <small class="error-message">Ingrese la fecha de publicación.</small>
                    }
                </div>
                <div class="flex flex-column">
                    <label for="fechaVencimiento"> Fecha de Vencimiento </label>
                    <p-calendar [style]="{'width':'100%'}" formControlName="fechaVencimiento" [showIcon]="true"
                        inputId="fechaVencimiento"
                        [minDate]="form.value.fechaPublicacion? this.form.value.fechaPublicacion: today"></p-calendar>
                    @if (form.get('fechaVencimiento')?.hasError('required')&& form.get('fechaVencimiento')?.touched) {
                    <small class="error-message">Ingrese la fecha de vencimiento.</small>
                    }
                </div>
                <div class="flex flex-column center">
                    <p-fileUpload [auto]="true" chooseLabel="Cargar TDR / ET" name="demo[]" customUpload="true"
                        (uploadHandler)="onSelectFormato($event)"
                        accept=".pdf"
                        maxFileSize="10000000" [style]="{'width':'100%'}">
                        <ng-template let-file pTemplate="file">
                            <div> <strong>Archivo cargado:</strong> {{mensajeFormato}}</div>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="flex flex-column center">
                    <p-fileUpload [auto]="true" chooseLabel="Cargar Anexos" name="demo[]" customUpload="true"
                        (uploadHandler)="onSelectConvocatoria($event)"
                        accept=".pdf"
                        maxFileSize="10000000" [style]="{'width':'100%'}">
                        <ng-template let-file pTemplate="file">
                            <div> <strong>Archivo cargado:</strong> {{mensajeConvocatoria}}</div>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <p-button label="Guardar" (onClick)="onUpload()" [disabled]="!validarBoton()"></p-button>
                <p-button [style]="{'margin-left': '10px'}" label="Salir"
                    routerLink="/dashboard/contrataciones"></p-button>

            </form>
        </p-card>
    </div>

</div>