<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-card header="Registro de formatos" class="card-max">
        <div class="flex flex-column descripcion">
            <label for="descripcion">Descripción: </label>
            <textarea id="descripcion" [(ngModel)]="descripcion" required rows="5" cols="30" pInputTextarea
                [autoResize]="true"></textarea>
        </div>
        <div class="flex flex-column ">
            <p-fileUpload [auto]="true" chooseLabel="Cargar Anexo" name="demo[]" customUpload="true" mode="basic"
                (uploadHandler)="onSelect($event)"
                accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                maxFileSize="10000000">
            </p-fileUpload>
        </div>
        <div class="flex flex-column">
            <div> <strong>Archivo cargado:</strong> {{mensaje}}</div>
        </div>
        <p-button [disabled]="descripcion==''" (click)="onUpload()" label="{{accion}}"></p-button>
        <p-button [style]="{'margin-left': '10px'}" label="Salir" routerLink="/dashboard/formatos"></p-button>
    </p-card>
</div>