
.card{
    margin-top: 20px;
}
.flex {
    display: flex;
}
.justify-content-center{
    justify-content: center;
    text-align: center;
}
.flex-column {
    flex-direction: column;
    margin-bottom: 10px;
}
.descripcion{
    text-align: left;
}

.card-max{
    max-width: 400px;
}

.error-message {
    color: red;
    font-size: 12px;
}

.mensaje{
    width: 100%;
    word-wrap: break-word;
}
