.container{
    margin: 10px;
    border-radius: 30px;
    border: 2px solid #e5e7eb;
    overflow: hidden;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.space {
    margin-right: 20px;
}

.align-buttons {
    display: flex;
}

.align-buttons button {
    display: flex;
    margin-left: 5px;
}

.titulo {
    margin: 0;
    padding-top: 9px;
}

.centrar {
    text-align: center;
}